.farmer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-layout {
  display: flex;
  flex-grow: 1;
}

.farmer-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

.farmer-vertical-nav {
  width: 200px; /* Slightly decreased width */
  background-color: #4CAF50; /* Main green color */
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.farmer-vertical-nav ul {
  list-style: none;
  padding: 0;
}

.farmer-vertical-nav li {
  margin-bottom: 15px;
}

.farmer-vertical-nav a {
  text-decoration: none;
  color: #2e7d32; /* Dark green color */
  font-weight: bold;
  display: block;
  padding: 10px 20px; /* Add padding */
  border-radius: 4px;
  font-size: 1.1rem; /* Increase font size */
  background-color: white; /* Button background color */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add hover transition */
}

.farmer-vertical-nav a:hover {
  background-color: #4CAF50; /* Green on hover */
  color: white; /* White text on hover */
  transform: translateX(5px); /* Slide effect on hover */
}
